DATABASE_URL=postgresql+psycopg2://neondb_owner:npg_yTo2I5nBfWtg@ep-fancy-smoke-azzvbisb-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
SECRET_KEY=change-me-in-production
